<div class="d-flex justify-content-center align-content-center">

  <div class= "align-content-center w-25">
    <div class="card text-center border-primary border-1 rounded-4">

      <div class="card-body p-4 p-md-5 d-flex justify-content-center text-center">
        <form ngForm="ngForm">


          <div class="mb-2">
            <label for="idPass" class="form-label">Cubo</label>

            <select type="text" id="idPass" name="cajaSelect" #cajaSelect class="form-control">
              @for(cubo of arrCubos;track cubo){
                <option value="{{cubo.idCubo}}">{{cubo.nombre}}</option>
              }
            </select>
          </div>

          <button class="btn btn-primary" (click)="comprar()">Comprar</button>
        </form>
      </div>
    </div>
  </div>
</div>
